
LOCATE COMP "refclk" SITE "M19";
IOBUF PORT "refclk" IO_TYPE=LVCMOS18;

LOCATE COMP "resetn" SITE "C17";
IOBUF PORT "resetn" IO_TYPE=LVCMOS33;

#======================================
# Bank 1: Upstream USB Port and LEDs
#======================================
LOCATE COMP "led[0]" SITE "D16";
LOCATE COMP "led[1]" SITE "C15";
LOCATE COMP "led[2]" SITE "C13";
LOCATE COMP "led[3]" SITE "B13";
IOBUF PORT "led[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "led[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "usb_ufp_dp" SITE "B12";
LOCATE COMP "usb_ufp_dm" SITE "C12";
LOCATE COMP "usb_ufp_pull" SITE "C16";
IOBUF PORT "usb_ufp_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_ufp_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_ufp_pull" IO_TYPE=LVCMOS33;

#======================================
# Bank 8: Programming and Debug
#======================================
LOCATE COMP "usb_dfp_dp" SITE "R1";
LOCATE COMP "usb_dfp_dm" SITE "T1";
LOCATE COMP "usb_dfp_pull" SITE "T2";
LOCATE COMP "usb_dfp_orient" SITE "R3";
LOCATE COMP "usb_dfp_int" SITE "T3";
LOCATE COMP "i2c_scl" SITE "U1";
LOCATE COMP "i2c_sda" SITE "V1";
LOCATE COMP "flash_d3" SITE "W1";
LOCATE COMP "flash_d2" SITE "Y2";
LOCATE COMP "flash_miso" SITE "V2";
LOCATE COMP "flash_mosi" SITE "W2";
LOCATE COMP "flash_csel" SITE "R2";
LOCATE COMP "flash_sclk" SITE "U3";
LOCATE COMP "pwr_button" SITE "U2";

IOBUF PORT "usb_dfp_dp" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dfp_dm" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dfp_pull" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dfp_orient" IO_TYPE=LVCMOS33;
IOBUF PORT "usb_dfp_int" IO_TYPE=LVCMOS33;
IOBUF PORT "i2c_scl" IO_TYPE=LVCMOS33;
IOBUF PORT "i2c_sda" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_d3" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_d2" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_miso" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_mosi" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_csel" IO_TYPE=LVCMOS33;
IOBUF PORT "flash_sclk" IO_TYPE=LVCMOS33;
IOBUF PORT "pwr_button" IO_TYPE=LVCMOS33;

#======================================
# Bank 2: Debugging Signals
#======================================
LOCATE COMP "debug[0]"  SITE "G19";
LOCATE COMP "debug[1]"  SITE "H20";
LOCATE COMP "debug[2]"  SITE "J20";
LOCATE COMP "debug[3]"  SITE "K20";
LOCATE COMP "debug[4]"  SITE "C18";
LOCATE COMP "debug[5]"  SITE "D17";
LOCATE COMP "debug[6]"  SITE "D18";
LOCATE COMP "debug[7]"  SITE "E17";
LOCATE COMP "debug[8]"  SITE "E18";
LOCATE COMP "debug[9]"  SITE "F18";
LOCATE COMP "debug[10]" SITE "F17";
LOCATE COMP "debug[11]" SITE "G18";
LOCATE COMP "debug[12]" SITE "E16";
LOCATE COMP "debug[13]" SITE "F16";
LOCATE COMP "debug[14]" SITE "G16";
LOCATE COMP "debug[15]" SITE "H16";
IOBUF PORT "debug[0]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[1]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[2]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[3]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[4]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[5]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[6]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[7]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[8]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[9]"  IO_TYPE=LVCMOS33;
IOBUF PORT "debug[10]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[11]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[12]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[13]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[14]" IO_TYPE=LVCMOS33;
IOBUF PORT "debug[15]" IO_TYPE=LVCMOS33;
